.footer-area{
    margin-top: 5em;
    width: 100%;
}

.footer-text-area{
    background-color: #81D6FF;
    width: 100%;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.footer-text{
    margin-left: 1em;
    color:black;
}