.center-div{
    /* width: 30%; */
    margin: auto auto;
    margin-top: 3em;
    text-align: center;
}

.center-div-step2{
    width: 65%;
    margin: auto auto;
    margin-top: 3em;
}

@media (min-width: 992px){
    .margin-left-pag{
        margin-left: 18%;
    }
}

@media (min-width: 602px) and (max-width: 991px){
    .margin-left-pag{
        margin-left: 10%;
    }
    #page1, #next {
        margin-left: 5% !important;
    }
}

@media (max-width: 600px){
    #page1, #next {
        margin-left: 5% !important;
    }
}

.pagination{
    width: 100%;
    /* margin: auto auto; */
    margin-top: 3em;
    text-align: center;
    font-size: x-large;
}


.search-buttons{
    margin-top: 2em;
}

.search-title{
    margin-bottom: 5em;

    margin-right: 2em;
}

.search-options{
    height:1.3em;
}

.paragraph{
    font-size: x-large;
    /* font-weight: bold; */
    margin-bottom: 0em;
}

a {
    color:black;
}

.mat-slider-horizontal {
    width: 20em;
 }

 tr:nth-child(even) {background-color: #f2f2f2;}