<div>

    <p class="paragraph">Idioma: <span style="font-weight:normal">{{simple.language}}</span></p><br>
    <p class="paragraph">Descrição: <span style="font-weight:normal">{{simple.description}}</span></p><br>
    <p class="paragraph">Palavras-chave: <span style="font-weight:normal">{{simple.keywords}}</span></p><br>
    <p class="paragraph">Etapa da educação: <span style="font-weight:normal">{{simple.age}}</span></p><br>
    <p class="paragraph">Tipos de recurso: <span style="font-weight:normal">{{simple.resources}}</span></p><br>
    <p class="paragraph">Público alvo: <span style="font-weight:normal">{{simple.target}}</span></p><br>
    <p class="paragraph">Área(s) do conhecimento: <span style="font-weight:normal">{{simple.knowledgeArea}}</span></p><br>
    <p class="paragraph">Tempo necessário para aprendizagem: <span style="font-weight:normal">{{simple.typicalLearningTime}}</span></p><br>
    <p class="paragraph">Nível de interação: <span style="font-weight:normal">{{simple.interaction}}</span></p><br>
    <p class="paragraph">Licença: <span style="font-weight:normal">{{simple.licence}}</span></p><br>
    <p class="paragraph">Contribuintes: 
        <div *ngFor="let author of simple.author" style="margin-left:13px; font-weight:normal">
            <span style="font-weight:normal" *ngIf="author.name">{{author.name}} - {{author.institution}} - {{author.role}}</span>
        </div>
        <br>




</div>