<div>
    <div class="inside-image">
        <div class="image-text editable"> Adicione os seus objetos de aprendizagem, pesquise, partilhe!</div>

        <div class="search-box center-div">
            <span>
                <mat-form-field floatLabel="never" class="search-bar">
                    <input matInput [(ngModel)]="searchText" name="searchTexts"
                        placeholder="Pesquisar objetos de aprendizagem">
                </mat-form-field>
            </span>

            <a style="cursor:pointer" [routerLink]="['/search/'+searchText]  " routerLinkActive="router-link-active">
                <div class="dot-search">
                    <mat-icon class="dot-icon-search"
                        aria-hidden="false" aria-label="search">search</mat-icon>
                </div>
            </a>
        </div>
        <br>
        <br>
        <div class="add-box center-div">
            <a style="cursor:pointer" [routerLink]="documentAddRouter" [queryParams]="{ page: 'add' }" routerLinkActive="router-link-active">
                <span class="submit-text" style="display: inline-flex;align-items: center;">Submissão de objetos</span>
                <div class="dot-add">
                    <mat-icon class="dot-icon-add"
                        aria-hidden="false" aria-label="add">add</mat-icon>
                </div>
            </a>
        </div>
    </div>
</div>
