.card {
  width: 13.5em;
  height: 15.5em;
}


.mat-card-image{
  margin-bottom: 0px;
  object-fit: cover;
  width:13.5em;
  height:8.5em;
}

.card-footers{
  font-size: 16px;
  margin-left: 0.7em;
  margin-bottom: 0px;
  color: #FFA040;
  margin-right: 2.5em;
}

.mat-card-actions{
  margin-bottom: 0.6em;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}