
<div class="grey-division">
    <div class="grey-division-text"><strong>Novo Registo</strong></div>
</div>

<div class="center-div">
<form fxFlex [formGroup] = "signUpForm">

  <mat-form-field class="input-size">
    <input formControlName='name' required matInput placeholder="Nome completo">
  </mat-form-field><br><br>
  <mat-form-field class="input-size">
      <input type="email" required email="true" formControlName='username' matInput placeholder="E-mail">
  </mat-form-field><br><br>
  <mat-form-field class="input-size">
    <input [type]="hide ? 'password' : 'text'" required formControlName='password' matInput placeholder="Senha">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
  </mat-form-field><br><br>

  </form>

    <button class="create-button" mat-raised-button (click)="onSignUp()">Registar</button>

</div>
